NEXT_PUBLIC_NETWORK=studioDevnet
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio-next.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61997
NEXT_PUBLIC_CONTRACT_ADDRESS=0x0991554D61416bD89C848aB6478baA611e6CcED6
NEXT_PUBLIC_EXPLORER_ADDRESS_BASE=https://explorer-studio-dev.genlayer.com/address/
NEXT_PUBLIC_EXPLORER_TX_BASE=https://explorer-studio-dev.genlayer.com/tx/
